<div class='title-contents'>
  <h2 class='title'>
    <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
  </h2>
  <h2 class='service-title'>
    スノリゾルック
  </h2>
  <p class='service-explain'>
    スノーリゾート、スキー場を情報を
  </p>
  <p class='service-explain'>
    誰でも口コミ、検索ができます。
  </p>
  <ul class='lists-right'
    <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
    <% if user_signed_in? %>       
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>       
    <% else %>        
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
  </ul>
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードからスキー場を検索'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  
  <%= link_to '投稿する', new_snowresort_path, class: 'post' %>

  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
</div>

  <%# 投稿一覧 %>
  <div class='snowresort-contents'>
    <h2 class='title'>ゲレンデ一覧</h2>
    <ul class='snowresort-lists'>
      <% @snowresorts.each do |snowresort|%>
        <li class='list'>
          <%= link_to snowresort_path(snowresort.id), method: :get do %>  
          <div class='resort-img-content'>
            <%= image_tag snowresort.image, class: "resort-img" %>
          </div>
          <div class='snowresort-info'>
            <h3 class='snowresort-name'>
              <%= snowresort.resort_name %>
            </h3>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
          <% end %>  
        </li>
      <% end %> 
    </ul>
  </div>
  <%# 投稿一覧 %>