<%= render "shared/header"%>

<div class="profile">
  <%= link_to "プロフィールの変更", edit_user_path(current_user) %>
</div>
<p class='title2'><%= @nickname %>さんの投稿一覧</p>
<div class="snowresort-contents">
  
  <% @snowresorts.reverse.each do |snowresort| %>
    <%= image_tag snowresort.image, class: "resort-img" %>
    <%= l snowresort.created_at, format: :short %>
      <p><%= snowresort.resort_name %></p>
    </div>
  <% end %>
</div>